/* Base Styles */ 

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #222;
    background: #fff;
}

/* Global Spacing */ 
header,
main,
footer,
section {
    padding: 1rem;
}

/* Typography */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
    font-size: 50px;
    text-decoration: none;
    color: #222;
    margin: 0%;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #4D4D4D;
  margin: 0%;
  text-align: center;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 25px;
  text-decoration: none;
  color: #4D4D4D;
  margin: 0%;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: #4D4D4D;
  margin-top: .5%;
}

ul {
    padding-left: 1.25rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #E9AC78;
}

.main_nav {
    display: flex;
    align-content: right; 
}

.main_nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 10px;
}

.main_nav a {
    color:#222;
    text-decoration: none;
}

/* Buttons */
button {
    display: inline-block; 
    text-decoration: none; 

    /* button styles */
    padding: 15px 10%; 
    background-color: #c24b27;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #fff;
    border-radius: 10px;
    border: none;
    
    cursor: pointer;
    text-align: center;
}

.btn_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}